@(pvm: viewmodels.CreatePinModel)
@import helper._
@import helper.twitterBootstrap._

@main(Html("Create pin")){
@helper.form(action = routes.BoardController.submitPin(
             pvm.getUser().getUsername(),pvm.getBoard().getName())) {
<fieldset>
    <legend>Create Pin on @pvm.getBoard().getName()</legend>
    @inputText(
    pvm.getFilledForm()("link"),
    '_label -> "link",
    '_help -> "Please enter your link."
    )
    @inputText(
    pvm.getFilledForm()("description"),
    '_label -> "description",
    '_help -> "Please enter your description."
    )
    @inputText(
    pvm.getFilledForm()("image"),
    '_label -> "image",
    '_help -> "Please enter your image link."
    )
</fieldset>

<div class="actions">
    <input type="submit" class="btn primary" value="submit">
    <a href="@routes.BoardController.viewBoard(pvm.getUser.getUsername(),pvm.getBoard().getName())" class="btn">Cancel</a>
</div>
}
}