@(vbm: viewmodels.ViewBoardModel)
@main(Html("RuPin")) {

<h2>@vbm.getBoard().getName()</h2>
@if(vbm.getUser().getUsername == vbm.getBoard().getCreator().getUsername()) {
<input type="button" id="addpin" class="btn primary" value="Add Pin"
 onClick="window.location.href='../../createpin/@vbm.getBoard().getCreator().getUsername()/@vbm.getBoard().getName()'">
}

@for( pin <- vbm.getBoard().getPins() ) {
    <div class="pin">
        <a href="@pin.getLink()">
        <img src="@pin.getImage()" alt="Pin image"/>
        </a>
        <p>Pinned by <a href="/user/@pin.getBoard().getCreator().getUsername()">@pin.getBoard.getCreator().getName()</a></p>
        <p>On board <a href="@routes.BoardController.viewBoard(pin.getBoard().getCreator().getUsername(),
        pin.getBoard().getName())">@pin.getBoard().getName()</a></p>
        <div class="desc">@pin.getDescription()</div>
        <div class="desc">Category: @pin.getBoard().getCategory()</div>
        <div id="likes@pin.getID" >
        <button  class="button-like" onclick="addLike(@pin.getID)"> Like</button>
            </div>
    </div>
   }
}

